.Navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background: gray;
    height: 56px;
}

.Navbar_nav{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.Navlogo {
    color: gray;
    text-decoration: none;
    font-size: 1.5rem;
}

.NavItem ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.NavItem li{
    padding: 0 0.5rem;
}

.NavItem a{
    color: white;
    text-decoration: none;
}

.NavItem:hover a,.NavItem:active a{
    color: tomato;
}