.bg {
  background: url('/background/bg.png') no-repeat;
  width: 1520px;
  height: 1080px;
}
.bg2 {
  background: url('/background/bg.png') no-repeat;
  width: 1520px;
  height: 1080px;
}
.bg3 {
  background: url('/background/bg.png') no-repeat;
  width: 1520px;
  height: 1080px;
}
.bg4 {
  background: url('/background/bg.png') no-repeat;
  width: 1520px;
  height: 1080px;
}