.cover{
  min-height: 130vh;
  background-image: url('/background/cover.png');
  background-size: cover;
  background-position: fixed;
}
.bg {
  min-height: 130vh;
  background-image: url('/background/bg.png');
  background-size: cover;
  background-position: fixed;
}
.bg2 {
  min-height: 130vh;
  background-image: url('/background/bg3old.png');
  background-size: cover;
  background-position: center center;
}
.bg3 {
  min-height: 130vh;
  background-image: url('/background/bg3.png');
  background-size: cover;
  background-position: center bottom;
}
.bg4 {
  min-height: 130vh;
  background-image: url('/background/bg4.png');
  background-size: cover;
  background-position: center bottom;
}